<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <link rel='stylesheet' href='/Content/app.css' />
  <h6 class="display-6 navbar-text">&copy;2024 All rights reserved</h6>
  </div>
  </nav>
</footer>
