<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<!--portfolio by Sangmin Hwang (301272384) June 09, 2023-->

<main class="ontainer">
<div class="jumbotron">

    <hr style="border-style:solid; border-color:#d3d3d3; border-width:2px;">
    <h2>Know more about Sangmin</h2>
    <div class="about-section">
        <meta charset="utf-8">
              <div class="container">
                <div class="row">
                  <div class="col align-self-center">
                      <div class="col align-self-end">
          
    
                        <img class="myself" src="/img/Sangmin1.jpg" width="350px" height="400px"> 
                       
                        
                      </div>
                    <p> My name is <b>Sangmin Hwang</b> student of Software Engineering
                        at <a href= "https://www.centennialcollege.ca/?utm_source=hsm&utm_medium=search&utm_campaign=alwayson&gclid=Cj0KCQjw--GFBhDeARIsACH_kdY9SeHaFlrVzmucKHCqE5wLS0xq2od3K1x8o82FUN6fd1uIYCMxa_8aAsdnEALw_wcB&gclsrc=aw.ds" target="_blank"><b>Centennial College.</a></b></p> <!-- Link to Centennial website -->
                    <p>

                    </p>

                    <p>

                    </p>
                    <p> Please click in the link to check my <a href="/Content/SangminHwang.pdf" target="_blank">resume.</a></p>
                      
                    </div>
                </div>
              </div>
      
          </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   
