<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!--portfolio by Sangmin Hwang (301272384) June 09, 2023-->

<main class="container">
    <div class="jumbotron">

      <hr style="border-style:solid; border-color:#d3d3d3; border-width:2px;">
      <h1>  Welcome to Sangmin Hwang's webpage </h1><br>
<div class="project-section">
  <meta charset="utf-8">
        <div class="container">
          <div class="row">
            <div class="col align-self-center">
              <p> My goal is to find a job as a software developer   </p> 
              <p> passionate and creative person who loves developing software</p>
               <p> Please click in the link to ready about me</p>
              
              </div>
              
            <div class="col align-self-end">
           

                <img src="/img/Sangmin.jpg" alt="myself" style: width="300px" ; height="450px">
                <br>
                <br>
                <a href="/about"> About</a>
                 
            </div>
          </div>
        </div>

    </div>
     <hr style="border-style:solid; border-color:#d3d3d3; border-width:2px;">
  </main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>