<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--portfolio by Sangmin Hwang (301272384) June 09, 2023-->
<main class="ontainer">
<div class="jumbotron">
    <hr style="border-style:solid; border-color:#d3d3d3; border-width:2px;">
    <h1 >Projects  </h1><Br>
        <div class="project-section">
          <meta charset="utf-8">
                <div class="container">
                  <div class="row">
                    <div class="col align-self-center">
                
                     
                      <li><i class="fab fa-lg fa-javascript"></i> <b>Realtor Website</b></li>
                      <p>One of the project that I finished in last semester. It is a realtor's webpage that can help their sales. If you want to see the project
                       please click on the link <a href="http://studentweb.cencol.ca/shwang25/termproject_009/home.html" target="_blank"<b>Realtor Website</b></a></p>
                      <img class="project1" src="/img/project1.jpg" style="width:50%"> <br><br>
        
                      <li><i class="fab fa-lg fa-javascript"></i> <b>Form</b></li>
        
                          <p>Another project that I've done is the survey <a href="http://studentweb.cencol.ca/shwang25/assign4_009/assignment4.html" target="_blank" <b>Form</b></a></p>
                      
                      <img class="form" src="/img/project2.jpg" style="width:50%"><br><br>
                      
                       <li><i class="fab fa-lg fa-javascript"></i> <b>refrigiator shopping lists application</b></li>
                      <p>This is my own project that I've been working on. This app can help people to organize their refrigiator. It has functions that tells users to remind shopping lists</p>
                      <img class="form" src="/img/project3.jpg" style="width:20%"><br><br>
                      </div>
                    <div class="col align-self-end">
        
                      
                       
                    </div>
                  </div>
                </div>
        
            </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   