<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<!--portfolio by Sangmin Hwang (301272384) June 09, 2023-->
<main class="ontainer">
<div class="jumbotron">
    <hr style="border-style:solid; border-color:#d3d3d3; border-width:2px;">
    <div class="container">
        <div class="row">
          <div class="col align-self-center">
            <ul>
                <li> Programming Languages : Java, Python, C#, Javascript </li>
                <li> Web Development: Knowledge of HTML, CSS, and JavaScript, along with frameworks like React or Angular </li>
                <li> Database Management: Understanding of database concepts and experience with SQL for querying and managing data </li>
                <li> Problem Solving: Ability to analyze and break down complex problems into smaller, manageable tasks, and apply logical reasoning to find solutions </li>
            </ul>
            </div>
          <div class="col align-self-end">

            <img class="service" src="/img/html.png" style="width:10%">    
            <img class="service" src="/img/java.jpg" style="width:10%"> 
            <img class="service" src="/img/python.png" style="width:10%">       
            <img class="service" src="/img/csharp.png" style="width:10%">    
            <img class="service" src="/img/oracle.jpg" style="width:10%">
          </div>
        </div>
      </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   